
.video-channel-container {
max-width:960px;
border-bottom:1px solid #e5e5e5;
padding-bottom:20px;
margin-bottom:60px;
}
.video-channel-title{
font:28px/23px 'Open sans',sans-serif;
display:block;
position:relative;
text-align:left;
vertical-align:middle;
margin-bottom:20px;
margin-left:-1px;
color:#2d2d2d;
padding:8px;
background-color:#FFF;
border-bottom:1px solid #e5e5e5;
border-radius:4px 4px 0px 0px;

}
.video-channel-contents {
position:relative;
margin:0px;
clear:both;

//min-height: 400px;

}

.video-item-container {
position:relative;
float:left;
display:inline-block;
vertical-align:middle;
text-align:left;
width:220px;
padding:8px;
cursor:pointer;
//border:1px solid #ccc;
}
.video-item-container :last-child {
clear:both;
}
.video-item-title {
padding:8px;
color:#000;
text-align:left;
height:40px;
font:13px/16px 'Open sans',sans-serif;
font-weight:500;
overflow:hidden;
}
.video-thumb {
border:1px solid rgb(200,200,200);
//border-top:1px solid #fff;
//border-left:1px solid #fff;
box-shadow:2px 2px 3px rgba(30,30,30,0.4);
}


#vplayer {
/*
background-color:#fff;
border:2px solid #ccc;
//position:absolute;
margin:auto;

top:64px;
position:fixed;
z-index:999;*/
display:none;
//width:960px;
height:500px;
text-align:center;
vertical-align:middle;
margin:4px;
padding:4px;


}
.ui-widget-overlay
{
  opacity: .90 !important; /* Make sure to change both of these, as IE only sees the second one */
  filter: Alpha(Opacity=90) !important;
  background:none !important;
  background-color: rgb(200, 200, 200) !important; /* This will make it darker */
}

.tv-dialog {
border:2px solid rgb(200,200,200);
border-top:2px solid #fff;
border-left:2px solid #fff;
box-shadow:5px 5px 5px rgba(30,30,30,0.4);
}

#video-section{
max-width: 960px;
padding: 20px 0 0px 0;
	text-align: center;
	//font-size: 40px;
	//letter-spacing: -1px;
margin: 140px auto 140px auto;
//min-height:800px;
position:relative;

}
.vdesc {
text-align:left;
font:16px/23px 'Open sans',sans-serif;
margin-bottom:40px;
font-family: 'Open Sans', sans-serif;
color: #2d2d2d;
font-weight: 300;
}
.vdesc h1 {
font:36px/23px 'Open sans',sans-serif;
margin-bottom:15px;
}

#video-nav {
text-align: right;
margin-top: -39px;
clear: both;
min-width: 380px;
float: right;
position: relative;
border:1px solid #ccc;


}
 #video-nav:after {
 visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
  zoom:1;
 }

#video-nav ul {
list-style: none;
margin: 0px;
/* float: right; */
display: inline-block;
}
#video-nav li {
display:inline-block;
padding:4px;
//margin:4px;

}
#video-nav li:last-child a{

}
#video-nav li a {

height:10px;}
#video-nav li a:hover {
text-decoration:underline;
color:#21BDE4;
}

.bggry {
background-color:#e5e5e5;
}

