[project]
	description = midonet.org homepage
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sandro Mathys (red-trela)
[access "refs/for/refs/*"]
	read = group user/Sandro Mathys (red-trela)
	push = group user/Sandro Mathys (red-trela)
	label-Code-Review = -2..+2 group user/Sandro Mathys (red-trela)
	label-Verified = -1..+1 group user/Sandro Mathys (red-trela)
	rebase = group user/Sandro Mathys (red-trela)
	removeReviewer = group user/Sandro Mathys (red-trela)
	submit = group user/Sandro Mathys (red-trela)
[access "refs/heads/*"]
	read = group user/Sandro Mathys (red-trela)
	create = group user/Sandro Mathys (red-trela)
	push = +force group user/Sandro Mathys (red-trela)
	pushMerge = group user/Sandro Mathys (red-trela)
[access "refs/tags/*"]
	push = +force group user/Sandro Mathys (red-trela)
	pushTag = group user/Sandro Mathys (red-trela)
	pushSignedTag = group user/Sandro Mathys (red-trela)
[receive]
	requireSignedOffBy = false
	requireChangeId = true
	createNewChangeForAllNotInTarget = false
