[project]
	description = midonet.org homepage
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group midonet-admins
	owner = group user/Adam Johnson (adjohn)
	owner = group user/Sandro Mathys (red-trela)
[access "refs/heads/*"]
	read = group Anonymous Users
	create = group midonet-webmasters
	push = +force group midonet-webmasters
	pushMerge = group midonet-webmasters
	forgeCommitter = group midonet-webmasters
	label-Code-Review = -2..+2 group midonet-webmasters
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group midonet-bots
	label-Verified = -1..+1 group midonet-webmasters
	labelAs-Verified = -1..+1 group midonet-webmasters
	removeReviewer = group midonet-webmasters
	submit = group midonet-webmasters
[access "refs/tags/*"]
	push = group Anonymous Users
	pushTag = +force group midonet-webmasters
	pushSignedTag = group midonet-webmasters
[receive]
	requireSignedOffBy = false
	requireChangeId = true
	createNewChangeForAllNotInTarget = false
[access "refs/drafts/*"]
	read = group Anonymous Users
	push = group Registered Users
[access "refs/publish/*"]
	read = group Anonymous Users
	push = group Registered Users
