[project]
	description = midonet.org homepage
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group midonet-admins
	owner = group user/Adam Johnson (adjohn)
	owner = group user/Sandro Mathys (red-trela)
[access "refs/heads/*"]
	read = group user/Sandro Mathys (red-trela)
	create = group user/Sandro Mathys (red-trela)
	push = +force group user/Sandro Mathys (red-trela)
	pushMerge = group user/Sandro Mathys (red-trela)
[access "refs/tags/*"]
	push = +force group user/Sandro Mathys (red-trela)
	pushTag = group user/Sandro Mathys (red-trela)
	pushSignedTag = group user/Sandro Mathys (red-trela)
[receive]
	requireSignedOffBy = false
	requireChangeId = true
	createNewChangeForAllNotInTarget = false
[access "refs/drafts/*"]
	read = group Anonymous Users
	push = group Registered Users
[access "refs/publish/*"]
	read = group Anonymous Users
	push = group Registered Users
